{% extends 'base.html' %}

{% block title %}DPG | About{% endblock title %}

{% block content %}

    
<main class="container">
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">About</h5>
            <h6 class="card-subtitle mb-2 text-muted">Django Password Generator</h6>
            <p class="card-text">DPG is a simple password generator made with Django.</p>
            <a href="#" class="card-link">Card link</a>
        </div>
    </div>
</main>


{% endblock content %}