{% extends 'base.html' %}

{% block content %}

<main class="container d-flex align-items-center justify-content-center">
    <div class="mt-4 mx-auto">
        <h4> \o/ Password generated!</h4>
        <div class="alert alert-success align-items-center justify-content-center" style="max-width: 480px; overflow: hidden;">
            <input style="background: none; border: none; color:teal; text-align: center;" id="password" type="text" value="{{ password }}">
          </div> 
          <button 
            id="btn-copy"
            type="button" 
            onclick="copyToClipboard()" 
            class="btn btn-info"
            data-bs-content="Copied to clipboard!"
          >
            Copy!
            
          </button>
    </div>
</main>


{% endblock content %}